//
//	VARIABLES
// ------------------------------------------------------
@import url( 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' );

//font
$main_font: 'Open Sans', sans-serif;

// color
$color_text: #ffffff;

$color_main: #fe1743;



$color-bg: #222b31;
$color_bg--darken: darken( #222b31, 5% );

